@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./src/fonts/Roboto.woff2') format('woff2'), url('/src/fonts/Roboto.woff') format('woff'), url('/src/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}