@mixin button {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 4px;
    border: none;
    color: $base-light;
    background-color: $succes-color;
    font-size: $nav-btn;    
}

@mixin selector {
    //стили для селектора
}