@mixin button{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: $button-color;
    font-family: 'Roboto', sans-serif;
    font-size: $nav-btn;
    line-height: 19px;
    color: $base-light;
}

@mixin selector{
    // стили для селектора даты
}