//Цвета
$base-middle: #F1F2F6;
$base-light: #FFFFFF;
$accent: #FFA0A3;

$tag-rose: #F0A7C4;
$tag-blue: #7BAFFC;

$text-color: #202532;

$button-color: #85CF6B;
$main-red: #FD4B33;

//Размер шрифтов
$title: 32px;               //Заголовок dashboard
$nav-btn: 16px;                 //Пункты меню и кнопка
$event-plans: 16px;         //Новое событие и Планы
$tag-date-event: 12px;      //Время, дата, событие в списке событий
