.aside {
    color: $text-color;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: $base-middle;
    height: auto;
    align-self: stretch;
    grid-gap: 10px;
    padding: 1.5em 3em 1.5em 1.5em;
    min-width: 240px;
}

.close-events-cards {
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    font-family: $base-font;
    color: $text-color;
    font-size: $event-plans;
    grid-gap: 20px;
}

.closest-event {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 10px;
    background: $base-light;
    padding: .5rem;
}


.date {
    color: $accent;
}
.label {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    bottom: 15%;
    right: -3%;
}
