body { font-family: 'Roboto', sans-serif; }


.container{
    display: flex;
    background-color: $base-middle;
    position: relative;
}

.wrapper {
    width: calc(100% - 240px);
    display: flex;
    padding: 30px;
    gap: 30px;
    height: auto;
}
