.wrapp {
    width: 180px;
    opacity: none;
    min-width: 180px;
    margin-top: 8px;
}

$height: 28px;
.select {
    width: 100%;
    position: relative;
    z-index: 100;

    &.open {
        .select__dropdown{
            display: block;
        }
        .select__input {
            border-bottom: none;
        }
    
        .select__backdrop {
            display: block;
        }
    }

    &__input {
        height: $height;
        min-height: $select-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $base-middle;
        border: 1px solid $base-dark;
        border-radius: 4px;
        color: $text-color;
        font-size: $tag-date-event;
        padding: 0 1rem;
        font-family: $base-font;
        cursor: pointer;
    }

    &__dropdown {
        max-height: 100px;
        display: none;
        position: absolute;
        border: 1px solid $base-middle;
        border: 1px solid $base-dark;
        border-radius: 4px;
        font-size: $tag-date-event;
        color: $text-color;
        top: $height;
        top: $select-height;
        left: 0;
        right: 0;
        overflow: auto;
        box-shadow: 2px 3px 5px rgba(0,0,0,.3);

    }

    &__list {
        background-color: $base-light;
        padding: 0;
        margin: 0;
    }

    &__color {
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 14px;
    }

    &__backdrop {
        display: none;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
    }

    
    &__item {
        padding: .5rem;
        border-bottom: 1px solid $base-middle;

        &.selected {
            background-color: $base-middle;
        }
    
        &:hover {
            background-color: $base-middle;
            cursor: pointer;
            transition: .15s background-color ease-in;
        }
    }
}

