.plans{
    background:$base-light;
    padding: 20px;
    border-radius: 4px;
    height: calc(100% - 205px - 70px);
}

.business-today {
    height: 100%;
}

.business-today_list{
    padding: 20px;
    border: 3px solid $base-middle;
}
.details {
    display: flex;
    align-items: center;
    padding: 15px;
}
.details_time{
    margin-right: 20px;
}
.details_description {
    width: -webkit-fill-available;
    border: 1px solid $base-dark;
}
.details-label-string{
    display: flex;
    flex-grow: 1;
}
.det-text-opacity{
    opacity: 0.5;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;   
}
.dot-color{
    background-color: $tag-blue;
    margin-right: 20px;
}
.layer {
    overflow: auto; 
    height: calc(100% - 100px);
} 
