@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  background-color: #F1F2F6;
  position: relative;
  height: 100vh;
}

.wrapper {
  width: calc(100% - 240px);
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-direction: column;
}

.new-event {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
}

h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  background-color: #85CF6B;
  font-size: 16px;
  cursor: pointer;
  min-height: 30px;
  min-width: 120px;
}

textarea {
  box-sizing: border-box;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
  min-height: 75px;
  margin-bottom: 16px;
}

.tags_dates {
  color: #202532;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  min-width: 384px;
}

.new-event_part-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.business-today_select-date {
  margin-bottom: 16px;
}

select {
  min-width: 180px;
  min-height: 30px;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
  margin-top: 8px;
}

input {
  min-width: 167px;
  min-height: 26px;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 20px;
  padding-left: 10px;
}

.nameDatepicker {
  margin-left: 20px;
}

.plans {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 4px;
  height: calc(100% - 205px - 70px);
}

.business-today {
  height: 100%;
}

.business-today_list {
  padding: 20px;
  border: 3px solid #F1F2F6;
}

.details {
  display: flex;
  align-items: center;
  padding: 15px;
}

.details_time {
  margin-right: 20px;
}

.details_description {
  width: -webkit-fill-available;
  border: 1px solid #DFE1E5;
}

.details-label-string {
  display: flex;
  flex-grow: 1;
}

.det-text-opacity {
  opacity: 0.5;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot-color {
  background-color: #7BAFFC;
  margin-right: 20px;
}

.layer {
  overflow: auto;
  height: calc(100% - 100px);
}

.wrapp {
  min-width: 180px;
  margin-top: 8px;
}

.select {
  width: 100%;
  position: relative;
  z-index: 100;
}
.select.open .select__dropdown {
  display: block;
}
.select.open .select__input {
  border-bottom: none;
}
.select.open .select__backdrop {
  display: block;
}
.select__input {
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
  color: #202532;
  font-size: 12px;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.select__dropdown {
  max-height: 100px;
  display: none;
  position: absolute;
  border: 1px solid #DFE1E5;
  border-radius: 4px;
  font-size: 12px;
  color: #202532;
  top: 28px;
  left: 0;
  right: 0;
  overflow: auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.select__list {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.select__color {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 14px;
}
.select__backdrop {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}
.select__item {
  padding: 0.5rem;
  border-bottom: 1px solid #F1F2F6;
}
.select__item.selected {
  background-color: #F1F2F6;
}
.select__item:hover {
  background-color: #F1F2F6;
  cursor: pointer;
  transition: 0.15s background-color ease-in;
}

.nav {
  width: 240px;
  height: 100vh;
  background-color: #FFFFFF;
}
.nav__title {
  margin-top: 24px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.nav nav {
  margin-top: 53px;
}
.nav nav .nav-item {
  position: relative;
}
.nav nav .nav-item a {
  padding-left: 34px;
  text-decoration: none;
  color: #202532;
  display: flex;
  align-items: center;
}
.nav nav .nav-item:hover a {
  color: #FFA0A3;
}
.nav nav .nav-item:hover svg path {
  fill: #FFA0A3;
}
.nav nav .nav-item.current svg path {
  fill: #FFA0A3;
}
.nav nav .nav-item.current a {
  color: #FFA0A3;
}
.nav nav .nav-item.current .nav-item__label {
  display: block;
}
.nav nav .nav-item:not(:last-child) {
  margin-bottom: 30px;
}
.nav nav .nav-item__icon {
  margin-right: 12px;
}
.nav nav .nav-item__label {
  position: absolute;
  height: 30px;
  width: 4px;
  background-color: #FFA0A3;
  right: 0;
  top: -4px;
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.calendar {
  margin: 30px;
}

/* месяцы и годы */
.month-calendar {
  max-width: 310px;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
}

.month,
.days,
.weekdays {
  box-sizing: border-box;
}

.month {
  padding: 14px;
  background: #FFA0A3;
  text-align: center;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 700;
}

/* дни недели */
.weekdays {
  padding: 15px;
  background-color: #FFFFFF;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #202532;
  font-size: 12px;
  text-align: center;
}

/* дни */
.days {
  padding: 10px;
  padding-top: 5px;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #202532;
  font-size: 12px;
}

.mark {
  position: relative;
  background: #FD4B33;
  border-radius: 50%;
  width: 6.02px;
  height: 6px;
}

.days li {
  padding: 10px;
  text-align: center;
  line-height: 1rem;
}

.days li.date-now {
  background: #FFA0A3;
  border-radius: 50%;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */